@page "/counter"﻿
@using BlazorWASM.Client
@using BlazorWASM.Models

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="OpenStudent">Open Student</button>
<AuthorizeView>
    <Authorized>
        <button class="btn btn-primary" @onclick="PrivateStudent">Private Student</button>
    </Authorized>
    <NotAuthorized>
        <p> Please LogIn for watching info.</p>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Policy="namekarlos">
    <Authorized>
        NICKNAME POLICY
    </Authorized>
    <NotAuthorized>
        <p> Incorrect nickname.</p>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="student">
    <Authorized>
        HELLO ROLEPOLICY
    </Authorized>
    <NotAuthorized>
        <p> Incorrect Role.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    [Inject] private StudentClient client { get; set; } = default!;
    private async Task OpenStudent()
    {
        try
        {
            var model1 = await client.Open();
            Console.WriteLine(model1.Name);
        }
        catch (Exception ex)
        {
            throw;
        }

    }

    private async Task PrivateStudent()
    {
        try
        {
            var model2 = client.Private();
            Console.WriteLine(model2);
        }
        catch (Exception ex)
        {
            throw;
        }
    }
}
