@page "/counter"﻿
@using BlazorWASM.Models

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="OpenStudent">Open Student</button>
<AuthorizeView>
    <Authorized>
        <button class="btn btn-primary" @onclick="PrivateStudent">Private Student</button>
    </Authorized>
    <NotAuthorized>
        <p> Please LogIn for watching info.</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    private int currentCount = 0;

    [Inject] private HttpClient httpClient { get; set; } = default!;
    private async Task OpenStudent()
    {
        try
        {
            var model1 = await httpClient.GetFromJsonAsync<StudentModel>("Student/open");
            Console.WriteLine(model1!.Name);
        }
        catch (Exception ex)
        {
            throw;
        }

    }

    private async Task PrivateStudent()
    {
        try
        {
            var model2 = await httpClient.GetFromJsonAsync<StudentModel>("Student/private");
            Console.WriteLine(model2!.Name);
        }
        catch (Exception ex)
        {
            throw;
        }
    }
}
